<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/cliente">GestaoClienteUi</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/cliente" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/cliente/cadastrarcliente">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cadastrar Cliente
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/cliente/editarcliente">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Editar Cliente
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/cliente/listarclientes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lista de Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/cliente/apagarcliente">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Apagar Cliente
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
