@page "/"

    <div class="container-fluid">
        <div class="toast-header">
            <h1>Página inicial</h1>
        </div>
        <div style="margin-top:15px">
            <h3>Bem vindo ao App - CRUD de clientes!</h3>
        </div>
    </div>

